/* parecido a declarar variables globales en java */
:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #26939f;
    --gris: #757575;
    --gris_claro: #b6b6b6; /* Se agregó b6b6b6 */
}

/* Truco para uniformidad entre navegadores */
html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    font-family: 'Krub', sans-serif; /* Se modifica el tipo de letra */
    background-image: linear-gradient(to top, var(--gris) 0%, var(--blanco) 100%);
}

/* Recomendado para diferentes dispositivos */
@media (min-width: 480px) {
    body {
        /* background-color: ; */
    }
}

@media (min-width: 768px) {
    body {
        background-color: cornflowerblue;
    }
}

/* Navegación principal */
.navegcion-principal {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 2rem;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .navegcion-principal {
        flex-direction: row; /* Alinear en filas */
        justify-content: space-between;
    }
}

.navegcion-principal a {
    color: var(--blanco);
    text-decoration: none;
    padding: 1rem;
}

.navegcion-principal a:hover {
    background-color: var(--primario);
    color: var(--oscuro);
}

/* Contenedor */
.contenedor {
    max-width: 120rem; /* 1200 pixeles porque 1 rem = 10 px */
    margin: 0 auto;
}

.nav-bg {
    background-color: var(--secundario);
}

/* Hero */
.hero {
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative;
}

.contenido-hero {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--blanco);
}

.contenido-hero p,
.contenido-hero h2 {
    color: var(--blanco);
}

/* Tipografías */
h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 1.8rem;
}

h1, h2, h3 {
    text-align: center;
}

.titulo span {
    font-size: 2rem;
}

.ubicacion {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.ubicacion p {
    margin: 0;
    font-size: 18px;
}

/* Botón */
.boton {
    padding: 4rem, 3rem;
    margin-top: 2rem;
    background-color: #26939f;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    font-family: 'Krub', sans-serif;
    text-transform: uppercase;
    text-align: center;
    width: 10rem;
    height: 2rem;
}

.boton:hover {
    background-color: var(--primario);
    color: var(--oscuro);
}

@media (min-width: 768px) {
    .boton {
        width: auto;
    }
}

/* Servicios */
@media (min-width: 768px) {
    .servicios {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
    }
}

/* Centrar iconos */
.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicios h3 {
    color: var(--secundario);
    font-weight: normal;
}

p {
    text-align: center;
    line-height: 2;
}

.iconos {
    width: 15rem;
    height: 15rem;
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
